<div class="form-holder">
  
  <p class="psu-heading">log in</p>
<% if flash[:log_in_warning] %>
  <div class="notice"><span>*</span><%= flash[:log_in_warning]  %></div>
<% end %>

<%=render 'login_form' %>

  <div class="notice">Don't have an account?</div>
<%= link_to "Sign up here!", new_user_path %>
</div>
