<h1>LOG IN</h1>
<% if flash[:log_in_warning] %>
  <div class="notice"><%= flash[:log_in_warning]  %></div>
<% end %>

<%=render 'login_form' %>

<br>
<p>Don't have an account?</p>
<%= link_to "Sign up here!", new_user_path %>
