<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <div class="notice"><span>*</span><%= error %></div>
  <% end %>
<% end %>
<%= f.text_field :username, placeholder: "Your username here"%><br />

<%= f.email_field :email, placeholder: "user@example.com" %><br />
