<div class="user-profile">
  <div "username-bio-holder">
    <p class="psu-heading left">  <%= @user.username %></p> 
    <p class="comment-content left"><%= @user.bio %></p>
  </div>
  <% if matched_user?(@user) %>
    <div class="edit-button-holder">
      <%=link_to "Edit User info", edit_user_path(@user)%><br>
    </div>
  <% end %>
</div>
