<div class="user-profile">
  <div>
    <p class="psu-heading left">  <%= @user.username %></p> 
    <p class="comment-content left"><%= @user.bio %></p>
  </div>
  <% if matched_user?(@user) %>
    <%=link_to "Edit User info", edit_user_path(@user)%><br>
  <% end %>
</div>
