<div class="form-holder">
  
  <p class="psu-heading">edit password</p>
  <%= form_for @user do |f| %>
    <%= f.password_field :password, placeholder: "password"%><br />
    <%= f.password_field :password_confirmation, placeholder: "password confirmation" %><br />
    <button type="submit">update password</button>
  <% end %>
  <%= link_to "back to user info", edit_user_path %>
</div>
