<div class="form-holder">
<p class="psu-heading">sign up</p>
<%= form_for @user do |f| %>
<%=render partial: 'form', locals: {f: f}%>

<%= f.password_field :password, placeholder: "password" %><br />

<%= f.password_field :password_confirmation, placeholder: "password confirmation"%><br />


  <button type="submit">sign up!</button>
<% end %>
</div>
