<div class="form-holder wide">
<%=render 'user'%>
<%# REMEMBER TO CHANGE THE PATH OF THE PLACEHOLDER  %>
<p class="psu-heading-2 left">
   <%= link_to "see posts #{@user.username} commented on", user_comments_path(@user) %>
   Posts By <%= @user.username %>
</p>

<div class="user-posts">
  <% @user.posts.each do |post| %>
    <hr />
    <%= link_to post.title, post_path(post), class: "user-post-title" %><br />
<% end %>
</div>

</div>
