<h1>  <%= @user.username %></h1>
<p>Session id: <%= session[:user_id] %></p>
<%= link_to "back to users", users_path %>
<% if matched_user?(@user) %>
  <%= button_to "log out", logout_path %>
<% end %>

<% if logged_in? %>
  <p>I am logged in!</p>
<% end %>
