<h1>ALL POSTS HERE</h1>

<% if logged_in? %>
  <%= link_to "Make New Post", new_post_path %>
  <% else %>
  <p>log in to make a new post</p>
  <div class="login-form">
    <h3>Login Form</h3>
    <%= render 'sessions/login_form' %>
  </div>
<% end %>

<% @posts.each do |post| %>
<h2><%= link_to post.title, post_path(post) %></h2>
<p><%= post.content %></p>

<% end %>
