// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

%compat-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
%basic-flex {
  @extend %compat-flex;
}
%flex-vert {
  @extend %compat-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
}

@mixin lighten-link($col) {
  color: $col;
  -webkit-transition: color .25s; /* Safari */
  transition: color .25s;
  &:visited {
    color: $col;
  }
  &:hover {
    color: lighten( $col, 50% );
    -webkit-transition: color .25s; /* Safari */
    transition: color .25s;
  }
  &:active {
    color: lighten( $col, 80% );
  }
}

@mixin darken-link($col) {
  color: $col;
  -webkit-transition: color .25s; /* Safari */
  transition: color .25s;
  &:visited {
    color: $col;
  }
  &:hover {
    color: darken( $col, 20% );
    -webkit-transition: color .25s; /* Safari */
    transition: color .25s;
  }
  &:active {
    color: darken( $col, 80% );
  }
}
html {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', 'Open Sans', 'Arial', sans-serif;
    background: #181818;
    main {
      @extend %basic-flex;
      align-items: flex-start;
      padding-top: 5rem;
      justify-content: space-around;
      div {
        background: #EFEFEF;
      }
    }
  }
  a {
    text-decoration: none;
  }
}

header {
  background: #980000;
  @extend %basic-flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  position: fixed;
  z-index: 10;
  width: 100%;
  p a {
    padding: 2rem 1rem;
    font-weight: 200;
    font-size: 2rem;
    @include darken-link(#FFF);
  }
  nav {
    @extend %basic-flex;
    float: right;
    color: white;
    a {
      display: block;
      padding: .5rem 2rem;
      font-size: 1.25rem;
      font-weight: 200;
      border-left: 2px solid white;
      @include darken-link(#FFF);
    }
  }
}
.psu-heading {
  font-size: 2.5rem;
  font-weight: 200;
  text-align: center;
  padding: 0;
  color: #980000;
  margin: .5rem auto 1rem;
}
.psu-heading-2 {
  font-size: 1.75rem;
  font-weight: 200;
  text-align: center;
  padding: 0;
  margin: 1rem;
  color: #980000;
}

.left {
  text-align: left;
}

.posts-holder {
  width: 50%;
  min-width: 380px;
  position: relative;
  overflow: scroll;
  height: 40rem;
  margin-bottom: 1rem;
  .post-box {
    margin: 1rem;
    .post-content, .post-author-main{
      margin-left: 1rem;
      font-size: 1.5rem;
      font-weight: 200;
    }
    .post-author-main {
       text-align: right;
       margin-right: 1rem;
       a {
         color: #000;
         @include lighten-link(#000);
       }
    }
    .post-url {
      text-align: center;
      font-size: 1.5rem;
       a {
         text-decoration: underline;
         color: #000;
         @include lighten-link(#000);
       }
    }
    .post-title {
      @extend .psu-heading;
      text-align: left;
      margin: .5rem;
      a {
        color: #980000;
        text-align: left;
        @include darken-link(#980000);
      }
    }
    .post-links-holder {
      @extend %basic-flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0 .5rem 0 0;
      .post-links, .post-author {
        margin: 0;
        padding: 0;
        text-align: right;
        font-style: italic;
        color: black;
        font-size: 1.5rem;
        font-weight: 200;
        display: inline-block;
        a {
          color: black;
          @include lighten-link(#000);
        }
      }

      .post-author {
        margin-left: .5rem;
        font-size: 1.7rem;
        font-style: normal;
      }

    }
  }
}
hr {
  width: 98%;
  color: #777;
}
.form-holder {
  width: auto;
  min-width: 20rem;
  height: auto;
  padding: 1rem;
  input[type=text], input[type=password], input[type=email] {
    font-size: 1.35rem;
    font-weight: 200;
    display: block;
    margin: .5rem auto;
    padding: .35rem;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
  }
  button, a {
    width: 70%;
    margin: .5rem auto 1.5rem;
    padding: .35rem;
    background: #980000;
    color: white;
    font-weight: 200;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    &:hover {
      background: #B20000;
    }
    &:active {
      background: #720000;
    }
  }
}
button {
  width: 70%;
  max-width: 18rem;
  margin: .5rem auto 1.5rem;
  padding: .35rem;
  background: #980000;
  color: white;
  font-weight: 200;
  border: none;
  font-size: 1.5rem;
  text-align: center;
  display: block;
  &:hover {
    background: #B20000;
  }
  &:active {
    background: #720000;
  }
}

.notice {
  text-align: center;
  margin: 1rem;
  span {
    color: #980000;
    font-size: 1.35rem;
    font-weight: 100;
  }
}

textarea {
  margin: 0 auto;
  display: block;
  width: 20rem;
  height: 5rem;
  border: none;
  font-size: 1rem;
}

.comment-content {
  margin: 1rem;
  font-size: 1.25rem;
  font-weight: 200;
}
.comment-author {
  font-size: 1rem;
  margin: 1rem 2rem;
  a {
   color: #000;
   text-decoration: underline;
   @include lighten_link(#000);
  }
}

form {
  input[type=submit] {
    width: auto;
    margin: .5rem auto 1.5rem;
    padding: .5rem;
    background: #522;
    color: white;
    font-weight: 200;
    border: none;
    font-size: 1rem;
    text-align: center;
    display: block;
    &:hover {
      background: #B20000;
    }
    &:active {
      background: #720000;
    }
  }
}
